<!DOCTYPE html>

<% include header.html %>

    <table class="table table-striped table-dark" style='width: 40%;'>
      <thead>
        <tr>
          <th scope="col"><%= __('Name') %></th>
        </tr>
      </thead>
        <% ad.forEach(item => { %>
      <tbody>
        <tr>
          <td><%= item.name %></td>
        </tr>
        <tr>
          <% if (item.sell === true) { %>
            <td>Sell</td>
          <% } else{ %>  
           <td>Buy</td>
          <% } %>      
        </tr>
        <tr>
          <td><%= item.tags %></td>
        </tr>
        <tr>
          <td><%= item.price %> €</td>
        </tr>
        <tr>
          <td><img src="../images/ads/<%= item.photo %>" class="card-img-top" alt="<%= item.name %>"></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
